@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewBag.Title = "MyComment";
    Layout = "~/Views/Shared/_PeopleLayout.cshtml";
}

<h1>Yorumlarım</h1>
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <section class="Comment">
            <div class="container-fluid">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div class="timeline">
                            <!-- timeline time label -->
                            @foreach (var item in Model)
                            {
                                <div class="time-label">
                                    <span class="bg-success">@(((DateTime)item.CommentAdded).ToString("dd-MMM-yyy"))</span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header"><a href="#"><img src="@item.Media.MediaSelf" width="30%" /></a></h3>
                                        <div class="timeline-body">
                                            @item.CommentContent
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END timeline item -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->
        </section>
        <!-- /.Comment -->
    </div>
    <!-- ./wrapper -->
</body>
</html>


