
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Etkinlikler</h3>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Tarih</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>3</td>
        <td>dfs</td>
        <td>fsdf</td>
        <td>sdfsd</td>
    </tr>
    <tr>
        <td>5</td>
        <td>dfs</td>
        <td>fsdf</td>
        <td>sdfsd</td>
    </tr>
    <tr>
        <td>6</td>
        <td>dfs</td>
        <td>fsdf</td>
        <td>sdfsd</td>
    </tr>
</table>
<button class="=btn btn-info">Yeni Etkinlik</button>
<button class="btn btn-warning">Etkinlik Listesi</button>